<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	
    <body bgcolor= #005f69>

</head>
<body>


<h1> HOLA, LE DAMOS LA BIENVENIDA A NUESTRA PRIMERA PAGINA.
    VIENE A SER NUESTA ULTIMA ACTIVIDAD Y DE ACORDE ALO APRENDIDO
REALIZAMOS LA PAGINA, ESPERO QUE SEA DE SU AGRADO.  </h1>

<p> SOMOS EL GRUPO 7 CONFORMADOS: </p>

                                      <H1>MAXI MEDINA</h1>
                                        <br>
    
                                     <h1>LEONARDO PERALTA</h1>
                                     <br>


                                    <h1>MARCELO BARBOZA</h1>
                                    <br>


                                    <h1>MAURICIO FERNANDEZ</h1>
                                    <br>


                                    <h1>PABLO VALLEJOS</h1>

                                    <br>


                                    <h1> LARA RADIMAK</h1>

                                    
       
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>                                 <br>

</body>
    </html>


    <div class="container"> <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ecogreen-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
