<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	
    <body bgcolor= #ffd881>

</head>
<body>



<h1> África, protagonista de la peor crisis educativa por la Covid-19 </h1>

<p>En 2019, solo hubo un 21% de escolarización en el África Subsahariana y un 41% en el norte de África, datos que han empeorado por la pandemia. 
    Con motivo del Día de África, el pasado 25 de mayo, la Fundación ProFuturo, un programa de Educación digital impulsado por Fundación Telefónica y Fundación “La Caixa” para reducir la brecha educativa, organizó el evento híbrido El poder transformador de la E-ducación en África, una conversación sobre los retos y las oportunidades de la Educación en el continente africano, al que algunos se refieren como el continente “olvidado”, pero por el que muchos “apuestan”, según aseguró Magdalena Brier, directora general de Profuturo.</p>

    <p>Javier Ruiz, director general de World Vision en España:
     "Cerrar el acceso a la escuela es cerrar el acceso a la alimentación y a la higiene de los niños "
    El acto, coorganizado por Casa África, Acnur, Empieza Por Educar, Entreculturas, Save the Children, la ONG World Vision y los
     medios de comunicación Planeta Futuro, de El País, y Mundo Negro, tenía como objetivo “mostrar la cara positiva del continente
      y fortalecer el entendimiento entre los países africanos y España”, según explicó Juan Jaime Martínez, jefe de Cultura de Casa África.</p>
    
      <p> Escolarización
    Más de 32 millones de niños y niñas africanos se encontraban fuera de la Educación Primaria en el año 2019, cifra que ha aumentado
     con la Covid-19 por la falta de acceso a Educación digital y por el absentismo escolar.</p>
    
     <p>En 2019, solo hubo un 21% de escolarización en el África Subsahariana y un 41% en el norte de África. Dos terceras partes de
     los países africanos con menos renta recortaron su presupuesto en Educación durante 2020 en torno a una media del 4%, según Firmin Edouard Matoko,
      subdirector general de Prioridad África y Relaciones Exteriores de la Unesco, que hizo hincapié en dos de los grandes problemas de la Educación 
      en África, la falta de docentes y la brecha digital existente.</p>
    
      <p>“Muchos países africanos optaron por la Educación a distancia para salvar las barreras de los confinamientos,
     pero las familias encontraron obstáculos en los que no se había pensado, como la falta de electricidad y de internet“, explicó.</p>
    
     <p> Efectos colaterales
    “Cuando cerramos el acceso a la escuela cerramos el acceso de los niños a muchas más cosas, como la alimentación o 
    la higiene”, comentó Javier Ruiz, director general de World Vision en España, 
    que reflexionó sobre el poder transformador de la Educación a través de la historia de Isaac,
     un niño del norte de Uganda que “estudiaba para ser presidente y llevar la paz a su país”.</p>
    
     <p> El impacto del cierre de colegios a corto plazo engloba la salud física y mental, la explotación laboral, embarazos no deseados,
     matrimonios forzosos y la desnutrición. “La comida que reciben en la escuela es para muchos la única que reciben a lo largo del día”,
      informó Luca Fabris, coordinador de Asia y África en Entreculturas.</p>
    
      <p> Brecha de género
    “Cada tres meses de cierre de colegios se provocan 15 millones de abusos y alrededor de dos millones de casos de mutilación genital“,
     analizó Andrés Conde, director general de Save the Children en España, que aseguró que las niñas tienen barreras de entrada a la escuela
      muy superiores a la de los varones.</p>
    
      <p> “Antes de la Covid-19 nueve millones de niñas no podían acceder a la Educación frente a tres millones de varones”.
     En África central una de cada cinco niñas nunca llegarán a entrar en un aula, según datos de Unicef.</p>
    
     <p> Andrés Conde, director general de Save the Children en España: "Cada tres meses de cierre de colegios se provocan 15 millones de abusos en África "
    Colocar a las niñas en el foco de la acción 
    y empoderarlas para que sean ellas las que realicen el cambio es imprescindible para cambiar su realidad,
     que va desde el matrimonio forzoso hasta un peor acceso a los recursos digitales, considerados por la sociedad como recursos no aptos para la mujer.</p>
    
     <p>   “Hay que invertir en las niñas, favorecer los espacios para que puedan ser libres y crear sus propios caminos”, sentencia Conde. </p>

<img width="800px" alt="ayuda de la EcoGreen" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://www.magisnet.com/wp-content/uploads/2021/06/ProFuturo-en-Kenia-pag31.jpg"


<body bgcolor= #fff>


<br>

<h1> Payasos Sin Fronteras </h1>

<p>Payasos Sin fronteras: la risa como terapia Risas. Muecas que emocionan. Chistes y habilidades artísticas que sorprendan y sirvan para transformar la complicada situación que viven muchos menores por culpa de la guerra o las catástrofes naturales.</p>
<p>La risa es la mejor medicina, según piensan los responsables de Payasos Sin fronteras, una ONG que desde 1993 ayuda a los niños a través del arte. Sus payasos son artistas que, de forma voluntaria, alegran a los pequeños refugiados, que viven en poblaciones
 en conflicto o con falta de recursos. Su trabajo sirve para sensibilizar valores como la solidaridad, la empatía y la ayuda humanitaria.</p>

 <img width="800px" alt="ayuda de la EcoGreen" src="https://www.consumer.es/wp-content/uploads/2019/07/img_payasos-sin-fronteras-2-art.jpg"



 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

</body>
</html>

<div class="container"> <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ecogreen-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
